table,
td,th{
    border: solid rgb(9, 27, 40);
padding: 5px;
text-align: center;
}
body{
    background-color: rgb(159, 159, 159);
    -webkit-text-fill-color: rgb(27, 30, 83)
    
    }
    body{
        font-size: x-large;
    }
.main{
    font-size: x-large;
    -webkit-text-fill-color: rgb(54, 38, 227)
}
  

